a,
#home-slider .caption h1 span, 
#twitter-carousel .item span, 
#footer .footer-bottom, 
#single-portfolio .close-folio-item:hover, 
.single-table.featured .btn.btn-primary, 
.contact-info ul li a:hover, 
#footer .footer-bottom a,
.breadcrumb a
{
  color: #5e9ab2;
}

strong  {
	color: #FF880A;	
}

#about-us {
  background-color: #BCD5E1;
}

.main-nav, .navbar-right li.active a,
#about-us .lead {
		border-color: #F7551D;
}
 #footer ul li a:hover {
		color: #F7551D;
}


.btn.btn-primary:hover,
.btn-submit:hover, 
.navbar-right  > li > a:hover ,
.dropdown-menu  > li > a:hover ,
.our-services .col-sm-6:hover .service-icon 
{
  background-color: #3D80A4;
}
a:hover, a:focus  {
	color: #3D80A4;
}
.header_top  {
  border-color: #3D80A4;
}
  
.about-info {
  border-color:  #5e9ab2;/*rgba(13,179,199, .2);*/
} 


.main-nav, 
.service-icon, 
.progress-bar.progress-bar-primary, 
.single-table.featured, 
.btn.btn-primary, 
.twitter-icon .fa-twitter, 
.twitter-left-control:hover, .twitter-right-control:hover, 
.post-icon, 
.entry-header .date:after, 
.btn-loadmore:hover, 
.btn-submit,
#footer, 
.caption .btn-start:hover, 
.left-control:hover, 
.right-control:hover, 
.folio-overview a:hover,
.navbar-nav > li > .dropdown-menu,
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover,
.member-info h3, #faq-content h3
{
  background-color:#5e9ab2;
}


.twitter-left-control:hover, 
.twitter-right-control:hover, 
.btn-loadmore:hover  {
	border: 1px solid #5e9ab2;
}

.caption .btn-start:hover, 
.left-control:hover, 
.right-control:hover {
	border-color: #5e9ab2;
}


.twitter-icon .fa-twitter:after {
	border-color: #5e9ab2 transparent transparent;
}

#twitter h4 a, #twitter .item a {
	background-color: rgba(255,255,255,.6); 
}