.post-preview > a {
  color: #333;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #0e9ac8;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > a:hover > .post-title,
.post-preview > a:focus > .post-title { 
  color: #0e9ac8;
  text-decoration: underline;
}
.post-preview > .post-meta {
  position: static;
  color: #333;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  text-transform: none;
  font-weight: normal;
}

.post-preview > .post-meta span {
  margin-right: 0px;
} 
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #404040;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0e9ac8;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
} 

.post-thumb .post-meta {
  background: rgba(0, 0, 0, 0.2);
}
.post-heading h1 {
  font-size: 24px;
} 
 .post-heading .subheading {
    font-size: 20px;
  }
@media only screen and (min-width: 576px) {
  .post-heading h1 {
    font-size: 30px;
  }
 .post-heading .subheading {
    font-size: 25px;
  }
} 

@media only screen and (min-width: 768px) {
  .post-heading h1 {
    font-size: 50px;
  }
 .post-heading .subheading {
    font-size: 30px;
  }
} 

.pager {
  margin: 30px 0 30px 0;
}
.pager li > a,
.pager li > span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 15px;
  background-color: white;
  border-radius: 0;
}

@media only screen and (min-width: 576px) {
	.pager li > a,
	.pager li > span {
		font-size: 14px;
		font-weight: 800;
		padding: 15px 25px;
		letter-spacing: 1px;
	}
}

.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #0e9ac8;
  border: 1px solid #0e9ac8;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #808080;
  background-color: #404040;
  cursor: not-allowed;
} 


.breadcrumb {
  color: #333;	
  background-color: transparent;
  border-radius: 0px;
  font-size:16px;
  list-style: outside none none;
  margin-bottom: 20px;
  padding: 0px;
  font-family: 'Lora', 'Times New Roman', serif;
  text-align:center;
}

.toolbox {
 margin-bottom:30px;
}

.toolbox span {
  margin-right:20px;
  display:inline-block;
  padding-top: 8px;
}

.toolbox .share {
  margin-right: 0;
}

.toolbox .share a, .toolbox .tags a {
  padding: 14px 8px 0px;
}

#comments {
  margin-bottom: 20px;
}

.tags a:after {
  content:", ";
}
.tags a:last-child:after {
  content:"";
}

.featured {
  font-size: 28px;
}

.featured blockquote {
  border-left: none;
  font-size: 28px;
}

.features {
  margin:30px 0;
}

blockquote.category {
  border:none;
  padding:0;
}

#content-body hr {
  margin-top: 36px;	
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
 }
 
#content-body  .post-preview  img,  #content-body .post-body img{
  display: block;
  max-width: 100%;
  height: auto;
}

#content-body .thumbnail {
    float: left;
    height: 80px;
    width: 80px;
    margin: 5px 15px 0 0;
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#sidebar {
	padding-left: 5px;
	background: linear-gradient(to left, #fff, #eee);
}

#sidebar .archive, #sidebar .comments, #sidebar .tagcloud, #sidebar .recent, #sidebar .popular, #sidebar .category-list {
    margin-bottom: 2em;
}




